<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traditional DOM event handlers</title>
</head>
<body>
    <h1>Traditional DOM event handlers</h1>
    <input id="myButton" type="button" value="Click me">
    <input id="mySecondButton" type="button" value="Click me 2">
    <div id="myDiv" style="background-color: aquamarine;">
        Go over with the mouse
    </div>
    <script src="../src/domEventHandlers.js"></script>
</body>
</html>