<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DOM</title>
  </head>
  <body>
    <div id="main" class="myDiv">
      <h1 id="myTitle">Yea! Cool page</h1>
      <p title="Short explanation" class="myParagraph">
        This page is really cool. Please don't change anything!
      </p>
      <p>
        Please don't change anything!
      </p>
      <div id="myStudent"></div>
    </div>
    <div class="myDiv">
        <h2 id="header2">Change Header text</h2>
      <p class="myParagraph second">No really, trust me dude!</p>
      <p>This is the third paragraph!</p>
      <text>See? It has random text!</text>
    </div>
    <script src="../src/app.js"></script>
  </body>
</html>
