<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajax Calls</title>
</head>
<body>
    <h1>Making AJAX call</h1>
    <button id="myButton">Get Data</button>
    <br>
    <button id="planet">Get planet</button>
    <p id="planetData"></p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> -->
    <script src="../src/ajax.js"></script>
</body>
</html>